In [9]:
import os

from dotenv import load_dotenv
import pandas as pd
import numpy as np
import os
import openai
import json

### API Key - This key is private. You can get your own API key

In [10]:
load_dotenv()
API_KEY = os.environ['OPENAI_API_KEY']

### importing the dataset

In [11]:
main_data = pd.read_csv("../res/nasdaq100.csv")
num_data = pd.read_csv("../res/nasdaq100_price_change.csv")
main_data

,symbol,name,headQuarter,dateFirstAdded,cik,founded
0,AAPL,Apple Inc.,"Cupertino, CA",NaN,320193,1976-04-01
1,ABNB,Airbnb,"San Francisco, CA",NaN,1559720,2008-08-01
2,ADBE,Adobe Inc.,"San Jose, CA",NaN,796343,1982-12-01
3,ADI,Analog Devices,"Wilmington, MA",NaN,6281,1965-01-01
4,ADP,ADP,"Roseland, NJ",NaN,8670,1949-01-01
...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,"New York, NY",NaN,1437107,2022-04-08
97,WDAY,"Workday, Inc.","Pleasanton, CA",NaN,1327811,2005-03-01
98,XEL,Xcel Energy,"Minneapolis, MN",NaN,72903,1909-06-17
99,ZM,Zoom Video Communications,"San Jose, CA",NaN,1585521,2011-04-21
100,ZS,Zscaler,"San Jose, CA",NaN,1713683,2007-01-01

In [12]:
num_data

,symbol,1D,5D,1M,3M,6M,ytd,1Y,3Y,5Y,10Y,max
0,AAPL,-1.7254,-8.30086,-6.20411,3.04200,15.64824,42.99992,8.479410,60.96299,245.42031,976.99441,139245.53954
1,ABNB,2.1617,-2.21919,9.88336,19.43286,19.64241,68.66902,23.640130,-1.04347,-1.04347,-1.04347,-1.04347
2,ADBE,0.5409,-1.77817,9.16191,52.04650,38.01522,57.22723,21.962060,17.83037,109.05718,1024.69214,251030.66399
3,ADI,0.9291,-4.03352,2.58486,3.65887,5.01602,17.02062,8.097350,63.42847,92.81874,286.77518,26012.63736
4,ADP,2.0589,2.35462,14.66581,16.40059,10.60546,5.53732,0.888943,81.76679,81.87224,248.40950,27613.11042
...,...,...,...,...,...,...,...,...,...,...,...,...
96,WBD,3.5791,13.98188,15.39075,12.25756,-5.60992,51.67715,3.209700,-31.02955,-43.36595,-65.85990,-12.30303
97,WDAY,1.4905,-1.04652,6.77548,28.69187,21.79922,37.90965,40.017990,31.59971,75.93220,221.38434,353.49515
98,XEL,-1.0432,-4.81045,-5.03734,-14.10091,-13.24042,-14.71386,-19.133960,-17.39010,26.61017,100.87395,724.27586
99,ZM,-0.5792,-3.99888,4.55307,8.29653,-18.89913,3.00030,-40.160360,-73.46268,10.74194,10.74194,10.74194
100,ZS,-0.5610,-8.59119,1.50859,62.46367,5.27307,31.89945,-13.565270,15.48669,290.17450,340.42424,340.42424

In [13]:
pd.merge(left=main_data,right=num_data['ytd'],how="left",on=main_data.symbol)

,key_0,symbol,name,headQuarter,dateFirstAdded,cik,founded,ytd
0,AAPL,AAPL,Apple Inc.,"Cupertino, CA",NaN,320193,1976-04-01,42.99992
1,ABNB,ABNB,Airbnb,"San Francisco, CA",NaN,1559720,2008-08-01,68.66902
2,ADBE,ADBE,Adobe Inc.,"San Jose, CA",NaN,796343,1982-12-01,57.22723
3,ADI,ADI,Analog Devices,"Wilmington, MA",NaN,6281,1965-01-01,17.02062
4,ADP,ADP,ADP,"Roseland, NJ",NaN,8670,1949-01-01,5.53732
...,...,...,...,...,...,...,...,...
96,WBD,WBD,Warner Bros. Discovery,"New York, NY",NaN,1437107,2022-04-08,51.67715
97,WDAY,WDAY,"Workday, Inc.","Pleasanton, CA",NaN,1327811,2005-03-01,37.90965
98,XEL,XEL,Xcel Energy,"Minneapolis, MN",NaN,72903,1909-06-17,-14.71386
99,ZM,ZM,Zoom Video Communications,"San Jose, CA",NaN,1585521,2011-04-21,3.00030
100,ZS,ZS,Zscaler,"San Jose, CA",NaN,1713683,2007-01-01,31.89945

## See all companies present in the data

In [14]:
for comany_name in main_data['name']:
    print(comany_name)

Apple Inc.
Airbnb
Adobe Inc.
Analog Devices
ADP
Autodesk
American Electric Power
Align Technology
Applied Materials
Advanced Micro Devices Inc.
Amgen
Amazon
Ansys
ASML Holding
Activision Blizzard
Broadcom Inc.
AstraZeneca
Biogen
Booking Holdings
Baker Hughes
Cadence Design Systems
Constellation Energy
Charter Communications
Comcast
Costco
Copart
CrowdStrike
Cisco
CoStar Group
CSX Corporation
Cintas
Cognizant
Datadog
Dollar Tree
DexCom
Electronic Arts
eBay
Enphase Energy
Exelon
Diamondback Energy
Fastenal
Fortinet
GE HealthCare
GlobalFoundries
Gilead Sciences
Alphabet Inc. (Class C)
Alphabet Inc. (Class A)
Honeywell
Idexx Laboratories
Illumina, Inc.
Intel
Intuit
Intuitive Surgical
JD.com
Keurig Dr Pepper
Kraft Heinz
KLA Corporation
Lucid Motors
Lam Research
Lululemon
Marriott International
Microchip Technology
Mondelēz International
MercadoLibre
Meta Platforms
Monster Beverage
Moderna
Marvell Technology
Microsoft
Micron Technology
Netflix
Nvidia
NXP
Old Dominion Freight Line
Onsemi
O'Reilly Automotive
Palo Alto Networks
Paychex
Paccar
PDD Holdings
PepsiCo
PayPal
Qualcomm
Regeneron
Ross Stores
Starbucks
Seagen
Sirius XM
Synopsys
Atlassian
T-Mobile US
Tesla, Inc.
Texas Instruments
Verisk
Vertex Pharmaceuticals
Walgreens Boots Alliance
Warner Bros. Discovery
Workday, Inc.
Xcel Energy
Zoom Video Communications
Zscaler

In [15]:
#creating a sector column for data
main_data['sector'] = "None"
main_data

,symbol,name,headQuarter,dateFirstAdded,cik,founded,sector
0,AAPL,Apple Inc.,"Cupertino, CA",NaN,320193,1976-04-01,None
1,ABNB,Airbnb,"San Francisco, CA",NaN,1559720,2008-08-01,None
2,ADBE,Adobe Inc.,"San Jose, CA",NaN,796343,1982-12-01,None
3,ADI,Analog Devices,"Wilmington, MA",NaN,6281,1965-01-01,None
4,ADP,ADP,"Roseland, NJ",NaN,8670,1949-01-01,None
...,...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,"New York, NY",NaN,1437107,2022-04-08,None
97,WDAY,"Workday, Inc.","Pleasanton, CA",NaN,1327811,2005-03-01,None
98,XEL,Xcel Energy,"Minneapolis, MN",NaN,72903,1909-06-17,None
99,ZM,Zoom Video Communications,"San Jose, CA",NaN,1585521,2011-04-21,None
100,ZS,Zscaler,"San Jose, CA",NaN,1713683,2007-01-01,None

### Building API gateway

#### Initialize the openAPI client

In [16]:
client = openai.OpenAI(
    api_key=API_KEY
)

#### Testing OpenAPI prompt

In [45]:
test_prompt = f"""Classify the company Apple Inc into one of the following sectors: Technology, Consumer, Cyclical, Industrial, Utilities, Healthcare, Marketing, Communication, Energy, Consumer, Defense, Real Estate, or Finance. Please only answer with one sector."""

In [47]:
chat_completion = client.chat.completions.create(messages=[
    {
        "role":"user",
        "content":test_prompt
    }
],model="gpt-3.5-turbo")

In [54]:
for chunks in chat_completion:
    print(chunks)

('id', 'chatcmpl-8tLyvVa24ts7AUzgRprDslsiwWAe6')
('choices', [Choice(finish_reason='stop', index=0, logprobs=None, message=ChatCompletionMessage(content='Technology', role='assistant', function_call=None, tool_calls=None))])
('created', 1708203229)
('model', 'gpt-3.5-turbo-0125')
('object', 'chat.completion')
('system_fingerprint', 'fp_6dd124df95')
('usage', CompletionUsage(completion_tokens=1, prompt_tokens=56, total_tokens=57))

In [77]:
data_to_store = chat_completion.choices[0].message.content
data_to_store

'Technology'

In [17]:
for company_name in main_data['name']:
    # The below line creates a prompt to input to API for every company_name in the dataset
    gpt_prompt = f"""Classify the company {company_name} into one of the following sectors: Technology, Consumer, Cyclical, Industrial, Utilities, Healthcare, Marketing, Communication, Energy, Consumer, Defense, Real Estate, or Finance. Please only answer with one sector."""

    result = client.chat.completions.create(messages=[
        {
            "role": "user",
            "content": gpt_prompt
        }
    ], model="gpt-3.5-turbo",
    temperature= 0.3 )
    
    #storing the fetched sector from chatGPT
    fetched_sector = result.choices[0].message.content
    
    #saving the values in the main dataset
    main_data.loc[main_data['name'] == company_name , 'sector'] = fetched_sector

main_data

,symbol,name,headQuarter,dateFirstAdded,cik,founded,sector
0,AAPL,Apple Inc.,"Cupertino, CA",NaN,320193,1976-04-01,Technology
1,ABNB,Airbnb,"San Francisco, CA",NaN,1559720,2008-08-01,Real Estate
2,ADBE,Adobe Inc.,"San Jose, CA",NaN,796343,1982-12-01,Technology
3,ADI,Analog Devices,"Wilmington, MA",NaN,6281,1965-01-01,Technology
4,ADP,ADP,"Roseland, NJ",NaN,8670,1949-01-01,Technology
...,...,...,...,...,...,...,...
96,WBD,Warner Bros. Discovery,"New York, NY",NaN,1437107,2022-04-08,Communication
97,WDAY,"Workday, Inc.","Pleasanton, CA",NaN,1327811,2005-03-01,Technology
98,XEL,Xcel Energy,"Minneapolis, MN",NaN,72903,1909-06-17,Utilities
99,ZM,Zoom Video Communications,"San Jose, CA",NaN,1585521,2011-04-21,Technology
100,ZS,Zscaler,"San Jose, CA",NaN,1713683,2007-01-01,Technology

In [18]:
for sectors in main_data['sector'].unique():
    print(sectors)

Technology
Real Estate
Utilities
Healthcare
Energy
Communication
Consumer
Industrial
Finance

#### As you can see, few datafields have '.' in them. So we now fix this

In [19]:
main_data['sector'] = main_data['sector'].str.replace('\.','',regex=True)

In [20]:
for sectors in main_data['sector'].unique():
    print(sectors)

Technology
Real Estate
Utilities
Healthcare
Energy
Communication
Consumer
Industrial
Finance

### Now we export the data and save it somewhere so we can easily use it for later

In [21]:
main_data.to_csv("../res/updated_nasdaq100.csv")

In [22]:
new_main_data = pd.read_csv("../res/updated_nasdaq100.csv")

In [58]:
sectors_all = new_main_data["sector"].unique()
sectors_all

array(['Technology', 'Real Estate', 'Utilities', 'Healthcare', 'Energy',
       'Communication', 'Consumer', 'Industrial', 'Finance'], dtype=object)

In [54]:
pass_dict = main_data.to_dict(orient='list')

In [59]:
# The below line creates a prompt to input to API for every company_name in the dataset
gpt_prompt = f"""Use the dataset passed with the prompt in form of a list converted from a dataframe to a list using pandas,to_dict() method. 
Please return me an answer containing the following things:
1. The best sector to invest int
2. Top 3 companies per sector. All sectors : {sectors_all}

Dataset Dictionary : {pass_dict}
"""

result = client.chat.completions.create(messages=[
    {
        "role": "user",
        "content": gpt_prompt
    }
], model="gpt-3.5-turbo",
    temperature=0.0)

In [69]:
data = result.choices[0].message.content
formated_data = data.split('\n')
formated_data

['1. The best sector to invest in: Technology',
 '',
 '2. Top 3 companies per sector:',
 '- Technology: ',
 '    1. Apple Inc.',
 '    2. Adobe Inc.',
 '    3. Advanced Micro Devices Inc.',
 '    ',
 '- Real Estate:',
 '    1. Airbnb',
 '    ',
 '- Utilities:',
 '    1. American Electric Power',
 '    ',
 '- Healthcare:',
 '    1. Amgen',
 '    2. Biogen',
 '    3. Align Technology',
 '    ',
 '- Energy:',
 '    1. Baker Hughes',
 '    2. Diamondback Energy',
 '    ',
 '- Communication:',
 '    1. Charter Communications',
 '    2. Comcast',
 '    3. AT&T',
 '    ',
 '- Consumer:',
 '    1. Costco',
 '    2. Dollar Tree',
 '    3. PepsiCo',
 '    ',
 '- Industrial:',
 '    1. CSX Corporation',
 '    2. Cintas',
 '    3. Fastenal',
 '    ',
 '- Finance:',
 '    1. Meta Platforms',
 '    2. PayPal',
 '    3. Visa']